<!DOCTYPE html>
<html>

<head>
    <title>Twitter clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
</head>

<body>
    <%if flash[:notice] %>
    <p class="notice alert alert-primary mb-0 text-center"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
    <% end %>
    <section class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-info  justify-content-between">
            <div class="container">
                <%= link_to  "Twitter", tweets_path , class: "navbar-brand text-white"%>
                <div class="nav-right">
                    <%= link_to  "Sign out", destroy_user_session_path , method: :delete , class: "button btn btn-light text-info" %>
                    <%if user_signed_in?%>
                    <%= link_to current_user.name , edit_user_registration_path , class: "btn"%>
                    <% end %>
                </div>
            </div>
        </nav>
        <div class="container">
            <%= yield %>
        </div>
        <section>
</body>

</html>